<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <resource-ref>
    <description>[Your Description]</description>
    <res-ref-name>jdbc/manage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <display-name>Manage HW5</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>cs236369.hw5.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>cs236369.hw5.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Base</display-name>
    <servlet-name>Base</servlet-name>
    <servlet-class>cs236369.hw5.Base</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Base</servlet-name>
    <url-pattern>/Base</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>cs236369.hw5.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>cs236369.hw5.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/student/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCourses</display-name>
    <servlet-name>ManageCourses</servlet-name>
    <servlet-class>cs236369.hw5.ManageCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCourses</servlet-name>
    <url-pattern>/administrator/ManageCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>cs236369.hw5.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CourseSearch</display-name>
    <servlet-name>CourseSearch</servlet-name>
    <servlet-class>cs236369.hw5.CourseSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSearch</servlet-name>
    <url-pattern>/student/CourseSearch</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ManageStudents</display-name>
    <servlet-name>ManageStudents</servlet-name>
    <servlet-class>cs236369.hw5.ManageStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudents</servlet-name>
    <url-pattern>/administrator/ManageStudents</url-pattern>
  </servlet-mapping>
</web-app>